<h3>Benvenuto su Golf Box</h3>

<p>Tramite questo sito puoi gestire i contenuti presenti nell'applicazione Golf Box per iPhone.</p>

<p>In questo momento sono presenti <%= Club.count %> <%= link_to "circoli", clubs_path, :class => "btn btn-primary btn-xs", :style => "margin-top: -4px; font-size: 1em;" %>.</p>
<p>Per visualizzare Esercizi commerciali e Promozioni devi prima selezionare un circolo.</p>

<p>Accedi alla sezione degli <%= link_to "sponsor", sponsors_path, :class => "btn btn-info btn-xs", :style => "margin-top: -4px; font-size: 1em;" %>.</p>


