<h1>Modifica Promozione</h1>

<%= render 'form' %>

<p>
    <%= link_to 'Mostra Promozione', [@club, @news], :class => "btn btn-warning" %>
    <%= link_to 'Torna alle Promozioni', club_news_index_path(@club), :class => "btn btn-danger" %>
</p>