<h1>Modifica Esercizio</h1>

<%= render 'form' %>

<p>
    <%= link_to 'Mostra Esercizio', [@club, @venue], :class => "btn btn-warning" %>
    <%= link_to 'Torna agli Esercizi', club_venues_path(@club), :class => "btn btn-danger" %>
</p>